

body {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    background-color: beige;
    align-items: center;
    
}

.gridContainer {
    display: grid;
    border: 1px black solid;
    grid-gap: 0px 0px;
    margin-top: 3em;
    height: 800px;
    width: 800px;
    

}

.buttonContainer {
    display: flex;
    justify-content: space-evenly;
    gap: 50px;
    margin-top: 3em;
}

.cell {
    
    background-color: rgba(255, 255, 255, 0.596);
}

.buttons {
    height: 100px;
    width: 150px;    
}

.sizeContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3em;
    gap: 20px;
    flex: 1;
    width: 50em;
}

.sizeSlider {
    width: 60%;
}
