

body {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    background-color: beige;
    align-items: center;
    
}

.gridContainer {
    display: grid;
    border: 1px black solid;
    grid-gap: 0px 0px;
    margin-top: 3em;
    height: 800px;
    width: 800px;
    

}

.cell {
    
    background-color: rgba(255, 255, 255, 0.596);
}

.buttons {
    height: 100px;
    width: 150px;
    margin-top: 100px;
    
}

.sizeSlider {
    position: fixed;
    margin-top: 80em;
    width: 34em;
    height: 3em;
    
    
}